<section class="board">
    <div class="left-bin">
        <div class="top-row">
            <point *ngFor="let point of points.slice(12,18); let odd=odd; let even=even"
                   class="arrow-down" [ngClass]="{odd: odd, even:even}" [position]="top"></point>
        </div>

        <div class="bottom-row">
            <point *ngFor="let point of points.slice(6,12); let odd=odd; let even=even"
                   class="arrow-up" [ngClass]="{odd: odd, even:even}" [position]="bottom"></point>
        </div>
    </div>

    <div class = "middle-bar"></div>

    <div class="right-bin">
        <div class="top-row">
            <point *ngFor="let point of points.slice(18,24); let odd=odd; let even=even"
                   class="arrow-down" [ngClass]="{odd: odd, even:even}" [position]="top"></point>
        </div>

        <div class="bottom-row">
            <point *ngFor="let point of points.slice(0,6); let odd=odd; let even=even"
                   class="arrow-up" [ngClass]="{odd: odd, even:even}" [position]="bottom"></point>
        </div>
    </div>
</section>
